#navbar {
    z-index: 10000;
    position: fixed;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 50px;

    background-color: linear-gradient(26deg, #16162f 0%, #070710 100%);
    box-shadow: 0px 4px 12px 1px #02000f;
}

#Homebtn {
    height: 40px;
    width: 40px;
    position: fixed;
    left: 15px;
    top: 5px;

    user-select: none;
}

#Hydixbtn {
    text-decoration: none;
    color: aliceblue;

    font-weight: 1000;
    font-size: large;

    position: absolute;
    top: 5px;
    left: 65px;

    padding: 0.5rem;
}

#Hydixbtn:hover {
    color: rgba(240, 248, 255, 0.788);
}

#Discordbtn {
    position: fixed;
    right: 5px;
    top: 5px;
    
    text-decoration: none;
    transition: right linear 0.5s;
}

#Discordbtn img {
    height: 40px;
    width: 40px;
}

#Discordbtn span {
    position:absolute;
    
    margin-top:23px;
    margin-left:-35px;
    color:#09c;
    background:rgba(0,0,0,.9);
    padding:15px;
    border-radius:3px;
    box-shadow:0 0 2px rgba(0,0,0,.5);
    transform:scale(0) rotate(-12deg);
    transition:all .25s;
    opacity:0;
    z-index: 11;
}


#Discordbtn:hover span {
    transform:scale(1) rotate(0);   
    opacity:1;
}
#Discordbtn:hover {
    right: 50px;
}