body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
    background-color: #1f1f1f;
}

#TopNews {
    background-color: #3d3d3d;
    position: relative;
    top: 20px;

    margin: 50px;

    width: 400px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 24px 4px #000000;
}

#NoCodeBotDownloadMsi {
    position: absolute;
    bottom: 80px;
    left: 45px;
    border: none;
    border-radius: 15px;
    padding: 10px;
    background-color: green;
    color: black;
    text-decoration: none;
}

#NoCodeBotDownloadMsi:hover {
    background-color: rgb(1, 158, 1);
}

#NoCodeBotDownloadExe {
    position: absolute;
    bottom: 30px;
    left: 85px;
    border: none;
    border-radius: 15px;
    padding: 10px;
    background-color: green;
    color: black;
    text-decoration: none;
}

#NoCodeBotDownloadExe:hover {
    background-color: rgb(1, 158, 1);
}


#NoCodeBotDownloadExe.unselectable {
    background-color: rgb(44, 44, 44);
    color: rgb(255, 255, 255);
    user-select: none;
    cursor: not-allowed;
}

#NoCodeBotDownloadExe.unselectable span {
    position:absolute;
    
    margin-top:23px;
    margin-left:-35px;
    color:#09c;
    background:rgba(0,0,0,.9);
    padding:15px;
    border-radius:3px;
    box-shadow:0 0 2px rgba(0,0,0,.5);
    transform:scale(0) rotate(-12deg);
    transition:all .25s;
    opacity:0;
    z-index: 10;
}

#NoCodeBotDownloadExe.unselectable:hover span {
    transform:scale(1) rotate(0);   
    opacity:1;
}






#TopNews h3 {
    color: rgb(255, 0, 0);
    text-align: center;
    font-size: larger;
}

#TopNews h4 {
    text-align: center;
    color: #9c9c9c;
}

#TopNews h5 {
    position: relative;
    top: -5px;

    text-align: center;

    white-space: pre-line;
}

version {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: rgba(172, 172, 172, 0.562);

    user-select: none;
}



